version = 0.26.2
profile = default
margin = 88
break-cases = fit
break-infix = fit-or-vertical
break-struct = force
doc-comments = before
exp-grouping = preserve
if-then-else = keyword-first
indicate-nested-or-patterns = space
leading-nested-match-parens = true
let-binding-spacing = compact
module-item-spacing = sparse
parens-ite = false
parens-tuple = always
sequence-style = terminator
single-case = compact
space-around-arrays = true
space-around-lists = true
space-around-records = true
space-around-variants = true
type-decl = sparse
wrap-comments = false
